/**
 * blog-grid Styles
 * ----------------------------------------------------------------------------
 *
 * About the module
 *
 */

.ll-blog-grid {
  padding-top: $padding-medium;
  padding-bottom: $padding-medium + $padding-small;

  .entry__meta + & {
    padding-top: 0;
  }

  @include screen-lg-up {
    padding-top: $padding-large;
    padding-bottom: $padding-large + $padding-medium;
  }

  .blog-grid__posts {
  }

  .blog-grid__blog {

    .blog-grid__blog__title {
      @extend %h2;
      color: $blue;

      &:first-child {
        margin-top: rem-calc(183);
      }
    }

    .blog-grid__blog__meta {
      font-size: rem-calc(14);
      font-weight: $text-bold;
      line-height: 18px;
      line-height: 1.28571428571429;
      color: $ebony;
      text-transform: uppercase;
    }

    .blog-grid__blog__body {

      p:last-child {
        margin-bottom: 0;
      }

      a {
        font-weight: $text-bold;
        color: $ebony;
      }
    }

    .blog-grid__blog__feature__wrapper {
      min-height: 365px;
      height: calc( 33.3334vw/2 - #{$padding-small} );
      border-radius: rem-calc(4);
      margin-bottom: rem-calc(30);
    }

  }

  .blog-grid__blog_wrapper {
    margin-top: $padding-xsmall;
    margin-bottom: $padding-xsmall;
  }

  @include screen-md-up {

    .blog-grid__blog_wrapper {
      margin-top: $padding-small;
      margin-bottom: $padding-small;
    }

  }

}
