/**
 * Base styles
 */

*, *::before, *::after {
  box-sizing: border-box;
}

html {
  position: relative;
  min-height: 100vh;
  font-size: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @include screen-xl-up {
    font-size: 125%;
  }
}

body {
  color: $text-color;
  background-color: $white;
  //background-image: url(../img/background.png);
  font-size: 16px;
  font-size: rem-calc(16);
  line-height: 27px;
  line-height: 1.6875;

  /**
   * Set after content to use for easily checking
   * mobile or desktop state. Hidden from view and
   * screen readers because it's purely for javascript.
   * Check app.js for more info
   */
  &::after {
    content: 'desktop';
    display: none;

    @include screen-nav-mobile {
      content: 'mobile';
    }
  }
}

::selection {
  text-shadow: none;
  color: $selection;
  background: $selection-bg;
}

::-moz-selection {
  text-shadow: none;
  color: $selection;
  background: $selection-bg;
}

a {
  color: currentColor;
}

blockquote {
  position: relative;

  p {
    margin: 0 auto auto;

    &:before {
      content: "“";
      margin-left: rem-calc(-6);
    }

    &:after {
      content: "”";
    }

  }

}

p, address, li, td, dd {
  color: $silver;
}

code {
  white-space: normal;
}

form {
  flex: 0 1 auto;
  width: 100%;
  align-self: flex-start;
}

h2 {
  color: $ebony;
}

hr {
  background-color: rgba($blue, 0.1);
  width: 80%;
  margin-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

input {
  &[type="text"],
  &[type="date"],
  &[type="email"] {
   @include input_base;
  }

  @include placeholder-text {
    font-weight: $text-bold;
    color: $ebony;
  }

  &:focus {
    outline: none;
  }

  &[type="checkbox"] {
    display: inline-flex;
    appearance: none;
    margin-right: rem-calc(13);
    height: rem-calc(19);
    width: rem-calc(19);
    border: #{rem-calc(2)} solid rgba(#979797, 0.5);
    border-radius: rem-calc(4);

    &:checked {
      border-color: transparent;
      background-color: transparent;

      &:after,
      &:before {
        content: '';
        position: absolute;
      }

      &:before {
        z-index: 1;
        height: rem-calc(23);
        width: rem-calc(23);
        border-radius: rem-calc(6);
        margin-left: rem-calc(-4);
        margin-top: rem-calc(-4);
        background-color: $blue;
        background-image: linear-gradient(to right, rgba(190,199,218,1) 0%, rgba(182,224,227,1) 100%);
      }

      &:after {
        z-index: 2;
        height: rem-calc(15);
        width: rem-calc(15);
        border-radius: inherit;
        background-color: $navy;
        background-image: linear-gradient(320.43deg, $blue 0%, $navy 100%);
      }
    }
  }
}

label {
  margin-top: rem-calc(30);
  font-size: rem-calc(14);
  font-weight: $text-bold;
  color: $ebony;
  line-height: 18px;
  line-height: 1.28571428571429;
}

main {
  min-height: 66vh;

  section {
    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

select {
  @include input_base;
  padding-right: rem-calc(16);
  background-image: url('../img/svg/angle-down.svg');
  background-repeat: no-repeat;
  background-position: right center;
  background-size: rem-calc(10);
  @include screen-lg-up {
    &:hover {
      background-image: url('../img/svg/angle-up.svg');
    }
  }
}

textarea {
  @include input_base;

  @include placeholder-text {
    font-weight: $text-normal;
    color: $silver;
  }
}