/**
 * Archive Bus
 */
.post-type-archive-bus {
  main {
    min-height: 100vh;
    margin-top: rem-calc(107);
    @extend %section-padding;
  }

  .form-skin {
    @extend %short-form;
  }

  .bus__row {
    margin-bottom: rem-calc(40);
    border: solid 1px #E4E6EE;
    border-radius: rem-calc(4);
    overflow: hidden;

    &:last-child {
      margin-bottom: auto;
    }
  }

  .bus__row__figure {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: rem-calc(188);
    background-color: $blue;
  }

  .bus__row__header {
    background-image: linear-gradient(180deg, #F7F8FF 0%, #E1E4EE 100%);

    .btn {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  .bus__row__header,
  .bus__row__details {
    width: calc(100% - #{rem-calc(188)});
    margin: 0 0 0 auto;
    display: flex;
  }

  .bus__row__name {
    @extend %h4;
    padding: #{rem-calc(12)} #{rem-calc(38)};
    line-height: 24px;
    line-height: 1.33333333333333;
    text-transform: uppercase;
    color: $ebony;
  }

  .bus__row__details {
    padding-top: rem-calc(19);
    padding-bottom: rem-calc(19);
  }

  .bus__row__details__title,
  .bus__row__details__description {
    font-size: rem-calc(14);
  }

  .bus__row__details__wrapper {
    flex: 0 0.5 auto;
    width: 25%;
    min-width: 88px;
    padding: #{rem-calc(4)} #{rem-calc(22)};
  }

  .bus__row__details__description {
    line-height: 27px;
    line-height: 1.92857142857143
  }

  .bus__row__details__title {
    line-height: 18px;
    line-height: 1.28571428571429;
    color: $ebony;
  }

}