/**
 * Form Template
 */
body.page-template-template-form-template {

  .ll-location-grid {
    background-color: $white;
    padding-bottom: 0;

    .location-grid__location__title a {
      color: $blue;
    }
  }

}