/**
 * Single Bus
 */
.single-bus {

  .bus__hdg__breadcrumb {
    display: flex;
    padding-top: $padding-medium;
    margin-top: rem-calc(81);
    margin-bottom: rem-calc(18);
    list-style: none;

    li {
      font-size: rem-calc(14);
      font-weight: $text-bold;
      color: $blue;
      text-transform: uppercase;
      line-height: 18px;
      line-height: 1.28571428571429;

      &:not(:last-child):after {
        content: '/';
        padding-right: rem-calc(5);
        padding-left: rem-calc(5);
      }

      a {
        color: $ebony;
      }

    }

  }

  .bus__hdg__title {
    @extend %h2;
    display: flex;
    align-items: center;
    color: $ebony;
  }

  .bus__hdg__location {
    @extend %p;
    margin-left: rem-calc(14);
    font-weight: $text-bold;
    color: $silver;
  }

  .bus__details {
    &:first-of-type {
      padding-top: rem-calc(16);
      padding-bottom: $padding-medium;
    }

    &:last-of-type {
      padding-bottom: $padding-large;
    }
  }

  .bus__details__table {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    border: 1px solid #E1E3EC;
    border-radius: rem-calc(4);
    background-color: $white;
    overflow: hidden;

    &:before {
      position: absolute;
      top: 0;
      content: '';
      height: rem-calc(6);
      width: 100%;
      background-color: $blue;
    }
  }

  .bus__details__thead {
    margin: #{rem-calc(24)} #{rem-calc(44)} #{rem-calc(9)} #{rem-calc(44)};

    th {
      font-size: rem-calc(27);
      font-weight: $text-light;
      line-height: 49px;
      line-height: 1.81481481481481;
      color: $midnight;
    }
  }

  .bus__details__tbody {
    margin: 0 #{rem-calc(44)} #{rem-calc(20)} #{rem-calc(44)};
  }

  .bus__details__details__title,
  .bus__details__details__description {
    font-size: rem-calc(14);
    line-height: 32px;
    line-height: 2.28571428571429;
  }

  .bus__details__details__title {
    color: $black;
    font-weight: $text-bold;
  }

  .bus__details__details__description {
    padding-left: rem-calc(60);
    font-weight: $text-normal;
  }

  .bus__quote {

    .form-skin {
      @extend %short-form;

      .gform_body {
        width: 100%;
        max-width: initial;
        margin-right: 0;
      }

      .gsection {
        background-color: #F8F8FF;
      }

      input[type=text],
      input[type=date],
      input[type=email],
      textarea {
        margin-top: auto;
      }
    }

  }

  .ll-image-slider {
    width: 100%;
    flex: 0 1 auto;
    margin-bottom: $padding-medium;
  }

  @include screen-md {

    .gfield_label {
      padding-left: 1.5625rem;
      padding-right: 1.5625rem;
    }

    .bus__details__wrapper {
      margin-bottom: $padding-medium;

      &:last-child {
        margin-bottom: 0;
      }
    }

  }

  @include screen-md-up {

    .bus__hdg__breadcrumb,
    .bus__hdg__title {
      padding-left: 0;
      padding-right: 0;
    }

    .bus__hdg__breadcrumb {
      margin-top: $padding-large;
    }

    .ll-image-slider {
      width: 58.3333333333%;
      max-width: 58.3333333333%;
      flex: .5833333333 1 auto;
      margin-bottom: auto;
    }

  }
}