/**
 * Button Styles
 */
%btn {
  display: inline-block;
  min-width: 176px;
  border: solid 1px $blue;
  margin: auto 0;
  padding: #{rem-calc(11)} #{rem-calc(23)};
  border-radius: 0;
  background-color: $blue;
  color: $white;
  outline: none;
  font-weight: $text-bold;
  font-size: rem-calc(14);
  line-height: 18px;
  line-height: 1.28571428571429;
  text-align: center;
  box-shadow: none;

  &:hover, &:active, &:focus {
    border-color: $navy;
    background-color: $navy;
  }
}

%btn--secondary {
  @extend %btn;
  color: $black;
  border: solid 1px #d8d8d8;
  background-color: $white;

  &:hover, &:active, &:focus {
    color: $navy;
    border-color: $powder;
    background-color: $powder;
  }
}

.btn,
input[type="submit"],
button {
  @extend %btn;

  &.btn--muted {
    color: $silver;
    svg {
      fill: $silver;
    }
  }

  &.btn--secondary {
    @extend %btn--secondary;
  }
}