/**
 * Card
 *
 * Used width grid components ie: Blog Grid, Procedure Grid
 * A (mostly) square box with a light shadow and gradient headline
 */
%card {
  position: relative;
  min-height: rem-calc(231);//Since we want these to scale on XL+ screens, these need to be rems
  max-width: rem-calc(255);//Since we want these to scale on XL+ screens, these need to be rems
  margin: #{$padding-small} auto;
  padding: #{rem-calc(30)};
  border-radius: 0;
  color: $white;
  background-color: $cerulean;
  background: linear-gradient(135deg, $cerulean 0%, $blue 100%);
  box-shadow: 0 0 #{rem-calc(8)} 0 rgba($black, 0.26);
  overflow: hidden;
}

%card__body {

  p {
    @extend %h4;
    margin-top: 0;
    font-weight: $text-normal;
    color: rgba($white, 0.5);

    &:last-child {
      margin-bottom: 0;
    }
  }
}

%card__title {
  margin-top: rem-calc(20);
  margin-bottom: rem-calc(4);
  font-size: rem-calc(18);
  font-weight: $text-bold;
  color: $white;
  line-height: 23px;
  line-height: 1.27777777777778;

  a {
    font-size: inherit;
    font-weight: inherit;
  }
}

%card__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: rem-calc(45);
  width: rem-calc(45);
  margin-bottom: rem-calc(18);
  border-radius: #{rem-calc(10)} 0 #{rem-calc(10)} 0;
  background-color: $cerulean;
  background-image: linear-gradient(45deg, $cerulean 0%, $blue 100%);
}

%card__cta {
  @extend %btn;
  padding: rem-calc(14);
  color: $ebony;
  background-color: $white;
}

%card__nav {
  margin: #{rem-calc(20)} auto auto auto;

  .btn {
    width: rem-calc(236);
  }
}