/**
 * Entry
 *   Used on news/blog archive page
 */

.entry {

}

.entry__header {
  padding-left: $grid-column-padding/2;
  padding-right: $grid-column-padding/2;
}

.entry__header__title {

}

.entry__summary {

}

.entry__meta {

  .btn {
    margin-left: $grid-column-padding/2;
    margin-right: $grid-column-padding/2;
  }
}
