/**
 * Heading styles
 */

.hdg {
  position: relative;
  @include flexible(flex-start, flex-start, row, center);
  min-height: 300px;
  max-height: initial;
  background-color: $silver;

  @include screen-md-up {
    height: 69vh;
    max-height: 610px;
    overflow: hidden;
  }

  .hdg__supertitle,
  .hdg__title,
  .hdg__content {
    padding-left: 0;
    color: $white;
  }

  .hdg__supertitle {
    @extend %supertitle;
  }

  .hdg__title {
    @extend %h0;
  }

  .hdg__content {
    * {
      font-weight: $text-normal;
    }
  }
}
