/**
 * Logo styles
 */

.logo {
}

.logo--header {

}

.logo-svg {
  width: rem-calc(184);
  height: rem-calc(38);

  @include screen-xl-up {
    > g  {
      transform: scale(1.25);
    }
  }
}

.logo__brand {
  @extend h2;
  display: flex;
  flex-direction: column;
  z-index: 2;
  fill: $white;
  color: $white;
  text-transform: uppercase;
}
