/**
 * Logo styles
 */

.logo {
}

.logo--header {

}

.logo-svg {
  width: rem-calc(158);
  height: rem-calc(32);
  transform: scale(1.6139);
  transform-origin: left;

  @include screen-xl-up {
    transform: scale(2);
  }
}

.logo__brand {
  @extend h2;
  display: flex;
  flex-direction: column;
  z-index: 2;
  fill: $white;
  color: $white;
  text-transform: uppercase;
}
