/**
 * social list Styles
 * ----------------------------------------------------------------------------
 *
 * List of linked social icons. Icons are created within the svg system
 *
 */

.social-list {
  display: inline-flex;
  font-size: 1em;
  text-align: center;
  list-style: none;
  margin-bottom: 0;
  margin-left: rem-calc(-10);

  .navbar & {
    display: inline-block;
    margin: 0;
    vertical-align: middle;
    font-size: 0.75em;

    @include screen-xs {
      display: none;
    }
  }
}

.social-list__item {
  display: inline-flex;
  margin: auto rem-calc(9);
  font-size: rem-calc(15);
}

.social-list__link {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: rem-calc(35);
  height: rem-calc(35);
  border: none;
  color: $white;
  text-align: center;
  border-radius: 200px;
  background-color: #2f528c;
  box-shadow: inset 0 #{rem-calc(1)} #{rem-calc(3)} 0 rgba($black,0.095);

  &:hover {
    background-color: $blue;
  }
}

.social-list__link .icon {
  position: relative;
}
