/**
 * Footer styles
 */
.footer {
  background-color: $navy;

  * {
    color: $white;
  }

  @include screen-sm-up {
    .nav {
      margin-left: rem-calc(60);
    }
  }

  .menu-item {
    color: $white;
    line-height: 32px;
    line-height: 2;
    font-weight: $text-bold;

    a[href*="#"] {
      font-size: rem-calc(18);
      font-weight: $text-semi;
      line-height: 24px;
      line-height: 1.33333333333333;
      pointer-events: none;
    }
  }

  .footer__logo_wrap {
    display: flex;
    flex-direction: column;
    width: rem-calc(184);

    a {
      display: block;
      font-size: rem-calc(26);
      font-weight: $text-bold;
      fill: $white;
      color: $white;
    }

    .logo-svg {
      transform: scale(1.13926);
    }
  }

  .dropdown-menu {

    .menu-item {

      a {
        opacity: 0.75;
        font-weight: $text-normal;

        &:hover {
          opacity: 1;
        }

      }

    }

  }

  .footer__logo__address {
    opacity: 0.75;
  }

  .footer__top {
    padding-top: rem-calc(24);
    padding-bottom: rem-calc(24);

    @include screen-lg-up {
      flex-direction: column;
      padding-top: rem-calc(48);
      padding-bottom: rem-calc(48);
    }

  }

  .footer__social_wrap {
    margin-right: 0;
    margin-left: auto;
  }

  .footer__bottom {
    padding-top: rem-calc(19);
    padding-bottom: rem-calc(19);
    border-top: solid 1px rgba($white,0.4);
  }

  .footer__copyright,
  .footer__credits {
    > * {
      margin: auto;
      opacity: 0.75;
      font-size: rem-calc(14);
      font-weight: $text-light;
      line-height: 19px;
      line-height: 1.35714285714286;
    }
  }

  .footer__ll_logo {
    width: rem-calc(45);
    height: rem-calc(18);
    opacity: 1;
  }

  @include screen-lg-up {

    .footer__logo_wrap,
    .footer__copyright {
      padding-left: 0;
    }

    .footer__navigation_wrap,
    .footer__credits {
      padding-right: 0;
    }

    .footer__credits {
      text-align: right;

      p {
        justify-content: flex-end;
      }
    }
  }

  @include screen-sm-only {
   .footer__social_wrap {
      display: flex;
      justify-content: center;
      margin-top: $padding-small;
      margin-right: auto;
      margin-left: auto;
    }
  }

  @include screen-sm {
    .footer__logo_wrap,
    .footer__navigation_wrap,
    .footer__social_wrap {
      display: flex;
      justify-content: center;
      margin-top: $padding-small;
      margin-right: auto;
      margin-left: auto;
    }

    .footer__logo_wrap,
    .footer__navigation_wrap {
      margin-bottom: $padding-xsmall;
    }

    .footer__disclaimer {
      > * {
        text-align: center;
      }

    }

    .menu-item {
      width: calc( 100% - #{$padding-xsmall * 2});
      text-align: center;
    }

    .nav {
      justify-content: center;
    }

  }
}

#menu-footer-navigation {
  > .menu-item {
    padding-left: rem-calc(20);
    padding-right: rem-calc(20);
  }
}