/**
 * hero Styles
 * ----------------------------------------------------------------------------
 *
 * About the module
 *
 */

.ll-hero {
  position: relative;
  min-height: 637px;
  height: 66.6667vh;
  flex-direction: column;
  overflow: hidden;
  text-align: left;
  background-color: $navy;

  + .entry__meta {
   @include triangle-caps($white, true, false);
   padding-top: $padding-small;
  }

  .container {
    min-height: inherit;
  }

  .hero__heading,
  .hero__supertitle {
    padding-left: 0;
    padding-right: 0;
    color: $white;
  }

  .hero__supertitle {
    @extend %supertitle;
  }

  .hero__heading {
    @extend %h0;
  }

  .play-video-button {
    margin-top: rem-calc(21);
    font-size: rem-calc(14);
    font-weight: $text-bold;
    line-height: 18px;
    line-height: 1.28571428571429;
    color: $white;

    svg {
      width: rem-calc(34);
      height: rem-calc(34);
      fill: white;
      margin-right: rem-calc(10);
      border-radius: 200px;
      background-color: rgba($white, 0.5);
    }
  }
}