/**
 * synopsis Styles
 * ----------------------------------------------------------------------------
 *
 * About the module
 *
 */

.ll-synopsis {
  @extend %section-padding;
  @include triangle-caps($talc,true,false);
  margin-bottom: $padding-small;

  .synopsis__col,
  .synopsis__description {
    padding-left: 0;
  }

  .synopsis__header {
    @extend %h3;
  }

  .synopsis__description {
    margin-right: auto;
  }

  @include disable-triangle-next;

  @include screen-sm {
    .synopsis__description {
      margin-top: $padding-large;
    }
  }

  @include screen-md-up {
    margin-bottom: $padding-medium;

    .synopsis__description {
      padding-right: 0;
    }
  }
}
